.bajada1{
    font-size: 30px;
    text-align: justify;
    color: white;
    line-height: 1.4;
    padding-bottom: 1rem ;
    margin-left: 3rem;
    margin-right: 2rem;
    border-bottom: solid 1px white;
}
.carrousel{
width: 40%;
height: auto;
}
/*.formulario{
   privisorio hasta solucionar row
    background-color: #1E56A0;
}
*/
.titFormSus{
    color:burlywood;
    font-weight: bold;
    margin-left: 3.1rem;
}
.formSus{
    width: 375px;
    height: 500px;
    padding: 15px 15px;
    border: solid 3px white;
    background-color: #1E56A0;
    font-size: large;
    font-weight: bold;
    color:white;
}
.btnSubmit{
    background-color:#D6E4F0;
    width: 7rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color:#163172;
    margin-top: 0.7rem;
    margin-left: 6.5rem;
}
.ilustracion{
    padding: 10px 10px;
    /*background-color: blanchedalmond;
    border: solid 2px #1E56A0;
    */
}
.parrafo{
    font-size: xx-large;
    text-align: justify;
    line-height: 1.3;
    color:white;
}